<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <a ui-sref="map()" id="home-button1" class="button button-positive button-block">OS - Rua Joao</a>
    <button id="home-button2" class="button button-positive button-block">OS - Rua Maria</button>
    <button id="home-button3" class="button button-positive button-block">OS - Rua Jose</button>
  </ion-content>
</ion-view>