<ion-view title="Map" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="map-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Detalhamento: Cliente reclama de quedas de conexão na internet banda larga. Testes e reset do modem já realizado.</p>
    </div>
  </ion-content>
</ion-view>